.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
}

.dark {
  color: #2e2f42;
}

.light {
  color: #f4f4fd;
}

.section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */
.container {
  max-width: 292px;
  padding: 0 16px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */
.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}

.header-logo {
  display: block;
  padding: 16px 0;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .nav-link {
    display: block;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px;
    color: #2e2f42;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .address-link {
    display: block;
    color: #434455;
    text-decoration: none;
    letter-spacing: 0.04em;
    font-weight: 400;
    line-height: 1.17;
    font-size: 12px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
  }
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visability 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-close {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.menu-nav-item {
  margin-bottom: 40px;
}

.menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-nav-link.current,
.menu-address-link.current {
  color: #404bbf;
}

.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.menu-address-link {
  display: block;
  color: #434455;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
}

.mobile-social-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.mobile-social-items {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.mobile-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }
}

/* HERO  */

.hero {
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero_bg/people_bg_mob@1x-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-resolution: 921dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg/people_bg_mob@2x-min.jpg);
  }
}

.hero-title {
  color: #ffffff;
  line-height: 1.1;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.button {
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  border: none;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg/people_bg_tablet@1x-min.jpg);
  }
  .hero-title {
    line-height: 1.07;
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 921dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg/people_bg_tablet@2x-min.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg/people_bg_desc@1x-min.jpg);
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .button {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
  }

  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 921dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero_bg/people_bg_desc@2x-min.jpg);
  }
}

/* priority */
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.priority-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
  margin: 0 auto;
}

.priority-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 0 auto;
}

.priority-wrapper {
  display: none;
}

.priority-subtitle {
  font-weight: 700;
  line-height: 1.1;
  font-size: 36px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.priority-text {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: #434455;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .priority-list {
    flex-direction: row;
    gap: 72px;
    column-gap: 24px;
  }
  .priority-item {
    max-width: 736px;
    width: calc((100% - 24px) / 2);
  }

  .priority-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .priority-list {
    gap: 24px;
  }

  .priority-item {
    width: calc((100% - 72px) / 4);
  }

  .priority-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .priority-subtitle {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
  }

  .priority-text {
    font-weight: 400;
  }
}

/* team */
.team {
  background-color: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;

  margin: 0 auto;
  margin-bottom: 72px;

  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-img {
  width: 100%;
  display: block;
}

.team-name {
  padding: 32px 16px;
}

.team-subtitle {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-text {
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.social-items {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .container.team {
    min-width: 552px;
  }
  .team-list {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72) / 3);
  }

  .team-name {
    padding: 32px 0 32px 0;
  }
  .social-link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }
}

/* portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  position: relative;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-group {
  padding: 32px 16px;
  height: 120px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.overlay {
  display: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
  .overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover .overlay {
    transform: translateY(0);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* #footer */
.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 72px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 16px;
}

.page-footer-text {
  line-height: 1.5;
  font-size: 16px;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  width: 264px;
}

.container-socials {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-social-items {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.footer-form-text {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form-wrapper {
  display: flex;
}

.footer-form-input {
  background-color: transparent;
  width: 288px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border: none;
}

.footer-form-icon {
  fill: #fff;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }

  .footer {
    justify-content: flex-start;
    row-gap: 72px;
    column-gap: 24px;
    width: 584px;
  }

  .footer-logo {
    justify-content: left;
  }

  .container-socials {
    align-items: flex-start;
    margin-left: 24px;
  }

  .footer-form-text {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .container-socials {
    margin-left: 120px;
  }
  .page-footer {
    padding: 100px 0;
  }
  .footer {
    align-items: baseline;
    width: auto;
  }

  .footer-logo {
    display: inline-block;
  }
  .footer-social-link {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }
  .footer-wrapper {
    margin-left: auto;
  }
  .footer-form {
    gap: 24px;
  }
  .footer-form-input {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, box-shadow;
  }

  .footer-form-input:focus {
    border: 1px solid #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
  .footer-form-btn {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
  }
  .footer-form-btn:hover,
  .footer-form-btn:focus {
    background-color: #404bbf;
  }
}
/* #overlay */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 16px 16px;
  transform: translateX(-50%) translateY(-50%);

  background-color: #fcfcfc;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.backdrop:not(.is-open) .modal {
  transform: translateX(-50%) translateY(-50%) scale(1.5);
}

.modal-btn {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  fill: #2e2f42;
}

.modal-caption {
  width: 256px;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form {
  width: 256px;
  gap: 24px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field-comment {
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-visible {
  border-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  outline: transparent;
  background-color: transparent;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus-visible {
  border-color: #4d5ae5;
}

.modal-form-agreement {
  margin-bottom: 24px;
}

.modal-form-agreement-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-checkbox {
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  cursor: pointer;
  fill: transparent;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type='checkbox']:checked
  + .modal-form-agreement-text
  .modal-form-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-checkbox-icon {
  opacity: 0;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}

input[type='checkbox']:checked
  + .modal-form-agreement-text
  > .modal-form-checkbox
  > .modal-form-checkbox-icon {
  opacity: 1;
}

.modal-form-agreement-link {
  line-height: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.submit-btn {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 24px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .footer-form-input {
    width: 264px;
  }
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
  .modal-caption {
    width: 360px;
  }
  .modal-form {
    width: 360px;
    gap: 24px;
  }
  .modal-form-comment {
    width: 360px;
  }
  /*.page-footer {
    padding-left: 108px;
  }*/
}

@media screen and (min-width: 1158px) {
  /* .page-footer {
    padding-left: 156px;
  }*/
  .modal-btn:hover,
  .modal-btn:focus {
    border: none;
    background-color: #404bbf;
  }

  .modal-btn-icon {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  .modal-btn:hover .modal-btn-icon,
  .modal-btn:focus .modal-btn-icon {
    fill: #fff;
  }
  .submit-btn:hover,
  .submit-btn:focus {
    background-color: #404bbf;
  }
}